{% extends 'base.html.twig' %}

{% block title %}Edition d'objet{% endblock %}

{% block body %}

<div class="container pt-5">

    <div class="row mb-2">

        <div class="col">
                <h1>Modification de votre objet</h1>

                <a class= "btn btn-secondary mt-3 mb-4" href="{{ path('app_collectible_index') }}">Retour à la liste des collectibles</a>

                {{ include('front/collectible/form.html.twig', {'button_label': 'Modifier'}) }}

        </div>

    </div>

</div>

{% endblock %}