{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mt-4 mb-4">Messagerie</h2>
				<p>
					Message de:
					{{ message.sender.email}}
				</p>
				<p>
					Titre:
					{{message.title}}
				</p>
				<div>
					Contenu:
					{{ message.content}}
				</div>

				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
				<a class="btn btn-primary" href="{{ path('app_message_received')}}">
					Retour à la liste des messages
				</a>
			</div>
		</div>
	</section>
{% endblock %}
